@charset "utf-8";
// ============================
// 共通パーツ読み込み
// ============================
@import "_core";

// ============================
// 共通要素
// ============================
/*==============================
共通要素
==============================*/
.wrap {
	@include wrap;
	@extend %extend-cf;
}
// ============================
// l-titlebar
// ============================
/*==============================
タイトルバー
==============================*/
.l-titlebar {
	width:100%;
	height:25px;
	background:#353535;
	h1 {
		@include wrap;
		font-size:10px;
		line-height:25px;
		color:#fff;
	}
}

h2{
    padding: 0 0 30px;
}
h3{
    padding: 0 0 15px;
}
h4{
    padding: 0 0 20px;
}
// ============================
// l-header
// ============================
/*==============================
ヘッダー
==============================*/
.l-header {
	width:100%;
	background:url(assets/img/layout/header/header_bg.png) repeat;
	.header-logo {
		float:left;
	}
	.header-btn {
		float:right;
		.header-list {
			padding:25px 0 15px;
			li {
				margin:0 0 0 15px;
			}
		}
	}
}

// ============================
// l-mv
// ============================
/*==============================
メインビジュアル
==============================*/
.l-mv {
	width:100%;
	background:url(assets/img/top/mv_bg.png) repeat;
	padding:15px 0;
	.mv-main {
		float:left;
	}
	.mv-side {
		float:right;
		.mv-side-list {
			li {
				margin:0 0 10px 0;
			}
		}
	}
}

// ============================
// l-navi
// ============================
/*==============================
グローバルナビ
==============================*/
.l-navi {
	width:100%;
	height:45px;
	background:url(assets/img/layout/navi/navi_bg.png) repeat;
	.navi-list {
		@include wrap;
		li {
			height:45px;
		}
	}
}

// ============================
// l-contents
// ============================
/*==============================
コンテンツ
==============================*/
.l-contents {
	@include wrap;
	@extend %extend-cf;
	padding:20px 0 0 0;
	.l-main {
		float:right;
		width:780px;
	}
	.l-side {
		float:left;
		width:200px;
	}
    .l-breadcrumb{
        padding: 0 0 15px;
        color: #333333;
        font-size: 14px;
        a{
            color: #004986;
        }
    }
}

// ============================
// l-side
// ============================
/*==============================
サイドバー
==============================*/
.l-side {
	min-height:4425px;
	background:url(assets/img/layout/side/side_bg.png) repeat;
	img {
		display:block;
		line-height:1;
	}
	.side-list-top {
		padding:0 0 5px;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 15px;
		}
	}
	.side-navi-list {
		padding:20px 0 10px 0;
		background:#fff;
		border-bottom:1px dashed #0d0d0d;
		li {
			margin:0 0 10px 0;
		}
	}
	.side-list-bottom {
		padding:20px 0 0 0;
		background:#fff;
		li {
			margin:0 0 15px 0;
		}
	}
}

// ============================
// l-footer
// ============================
/*==============================
フッター
==============================*/
.l-footer {
	width:100%;
	padding:35px 0;
	color:#fff;
	background:url(assets/img/layout/footer/footer_bg.png) repeat;
	.l-footer-left {
		float:left;
		width:380px;
		.footer-logo {
			margin:0 0 20px 0;
		}
		.footer-address {
			margin:0 0 35px 0;
			font-size:12px;
			line-height:16px;
		}
		.footer-banner {
			margin:0 0 20px 0;
		}
		.footer-copyright {
			font-size:11px;
		}
	}
	.l-footer-right {
		float:right;
		width:620px;
		.footer-navi-box {
			float:left;
			padding:0 30px 0 10px;
			border-left:1px solid #b48f92;
			.footer-navi-list {
				li {
					font-size:14px;
					margin:0 0 10px 0;
					&:before {
						content:">";
						margin:0 5px 0 0;
					}
				}
			}
			.footer-bold-list {
				li {
					font-weight:bold;
				}
			}
		}
	}
}

// ============================
// top
// ============================
/*==============================
トップページ
==============================*/
.top-headline {
	margin:0 0 25px 0;
}
.l-top-catch {
	padding:0 0 45px 0;
	.top-catch-box {
		p {
			margin:0 0 25px 0;
			font-size:14px;
			line-height:25px;
		}
		.top-catch-photo {
			float:right;
			display:inline;
		}
	}
}
.l-top-news {
	padding:0 0 80px 0;
	.top-news-list {
		li {
			font-size:16px;
			padding:10px 0;
			border-bottom :2px dotted #808080;
			&:first-child {
				padding:0 0 10px 0;
			}
			.category {
				display:inline-block;
				vertical-align:bottom;
				padding:4px 12px;
				margin:0 0 0 10px;
				font-size:12px;
				color:#fff;
			}
			.category-blog {
				background:#81393a;
			}
			.category-column {
				background:#30527a;
			}
			.title {
				margin:0 0 0 10px;
				color:#253059;
			}
			a {
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
.l-top-belief {
	padding:0 0 80px 0;
	img {
		display:block;
		line-height:1;
	}
}
.l-top-voice, .l-voice {
	padding:0 0 80px 0;
	.voice-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			width:240px;
			.voice-head {
				padding:10px 0;
				margin:0 0 10px 0;
				font-size:14px;
				text-align:center;
				border:1px solid #c7c7c7;
			}
			.voice-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.voice-detail {
				padding:10px;
				background:#f0f0f0;
				border-left:1px solid #c7c7c7;
				border-right:1px solid #c7c7c7;
				border-bottom:1px solid #c7c7c7;
				.text {
					margin:0 0 10px 0;
					font-size:14px;
					line-height:20px;
				}
				.condition {
					margin:0 0 5px 0;
					font-size:12px;
				}
				.name {
					font-size:12px;
				}
			}
		}
	}
	.top-voice-btn {
		display:table;
		margin:0 auto;
	}
}
.l-top-works, .l-works {
	padding:0 0 80px 0;
	.works-list {
		width:810px;
		li {
			margin:0 30px 30px 0;
			.works-head {
				padding:5px 0;
				text-align:center;
				font-weight:bold;
				border:3px solid #f0f0f0;
			}
			.works-photo {
				img {
					display:block;
					line-height:1;
				}
			}
			.works-detail {
				padding:10px;
				background:#f0f0f0;
				font-size:14px;
				line-height:18px;
			}
		}
	}
	.top-works-btn {
		display:table;
		margin:0 auto;
	}
}
.l-main-foot {
    padding: 0 0 65px;
	.foot-banner {
		display:table;
		margin:0 auto;
	}
	.foot-list {
		margin:0 0 0 20px;
		padding:25px 0 60px 0;
		width:770px;
		li {
			margin:0 30px 0 0;
		}
	}
}

/*==============================
牛嶋塗装工業様_02他店との違い
==============================*/
    .infobox {
        padding: 0 0 30px;
        line-height: 22px;
        @extend %extend-cf;
        font: {
            size: 14px;
            color: #434343;
        }
        .infobox-thumb{
            width: 252px;
            float: left;
            p.caption{
                padding: 0 0 0 40px;
            }
        }
        .infobox-text{
            float: left;
            width: 527px;
        }
        &:last-child{
            padding: 0 0 260px;
        }
    }

/*==============================
牛嶋塗装工業様_03職人紹介
==============================*/

    .l-cast{
        @extend %extend-cf;
        padding: 0 0 30px;
        &:last-child{
            padding: 0 0 75px;
        }
        .cast-info{
            padding: 15px 0 0;
            .cast-info-thumb{
                width: 220px;   
                float: left;
                li{
                    padding: 0 0 20px;
                }
            }
            .cast-info-table{
                float: left;
                width: 560px;
                font-size: 18px;
                color: #333333;
                line-height: 22px;
                letter-spacing: -1.3px;
                table,th,td{
                    border: 1px solid #352920;
                }
                th{
                    width: 208px;
                    text-align: center;
                    padding: 15px 0;
                }
                td{
                    padding: 15px 4px 11px 10px;
                }
            }
        }
    } 

/*牛嶋塗装工業様_04施工の流れ*/

.l-before-contruction{
    .before-contruction-headline{
        padding: 0 0 15px;
    }
}
.l-main-flowcontent{
    padding: 0 0 205px;
    h3{
        padding: 70px 0 30px;
    }
}
    .flowbox{
        @extend %extend-cf;
        padding: 0 0 18px;
        p{
            line-height: 22px;
            color: #434343;
            font: {
                size:14px;
            }
        }
        .flowbox-thumb{
            width: 345px;
            float: left;
        }
        .flowbox-text{
            float: left;
            width: 410px;
            padding: 0 0 0 20px;
        }
    }

/*牛嶋塗装工業様_05お客様が語る牛嶋_一覧 (voice)*/
.l-voice, .l-works{
    padding: 20px 0 95px;
}
.pagination{
    text-align: right;
    padding: 0 0 25px;
    li{
        display: inline;
        padding: 0 0 0 10px;
        a{
            color: #004986;
        }
        &:last-child a{
            text-decoration: none;
        }
    }
}

/*牛嶋塗装工業様_05お客様が語る牛嶋_詳細*/
.l-voice-detail{
    .headline{
        p{
            color: #727272;
            font-size: 14px;
            padding: 15px 0 0;
        }
    }
    .voicebox{
        @extend %extend-cf;
        padding: 25px 0 35px;
        .voicebox-thumb{
            float: left;
            width: 400px;
        }
        .voicebox-text{
            float: left;
            width: 380px;
            p{
                font-weight: bold;
                font-size: 26px;
                padding: 0;
                color: #727272;
                border-bottom: 1px solid #404646;
                span{
                    display: block;
                    padding: 5px 0 10px;
                }
            }
            .sub-voicebox{
                padding: 12px 0 10px;
                p{
                    border-bottom: none;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: normal;
                    color: #282828;
                    padding: 15px 0 0;
                }
            }
        }
    }
    .photo-mix{
        padding: 0 0 60px;
    }
}

/*牛嶋塗装工業様_06ご近所の施工宅_詳細*/
.l-works-detail{
    padding: 0 0 245px;
    dt{
        padding: 16px 0 5px;
        &:first-child{
           padding: 10px 0 5px;
        }
    }
    dd{
        border-bottom: 1px solid #7f7f7f;
        padding: 0 0 5px;
        font-size: 15px;
        &:nth-child(-n+8){
            margin: 0 79px 0 0;
        }
    }
    .headline{
        padding: 15px 0 0;
    }
    .before-thumb{
        float: left;
        width: 430px;
        padding: 0 10px 0 0;
        background: #fff;
    }
    .before-text{
        padding: 0 0 32px;
    }
}

/*牛嶋塗装工業様_07メディア掲載*/
.l-media-list{
    .media-list-text{
        padding: 0 0 60px;
        color: #434343;
        font-size: 13px;
        line-height: 24px;
        font-weight: 600;
    }
    .mediabox{
        @extend %extend-cf;
        padding: 0 0 40px;
        p{
            line-height: 22px;
            color: #434343;
            font: {
                size:14px;
            }
        }
        .mediabox-thumb{
            width: 345px;
            float: left;
        }
        .mediabox-text{
            float: left;
            width: 410px;
            padding: 0 0 0 20px;
        }
        &:last-child{
            @extend %extend-cf;
            padding: 0 0 70px;
        }
        .media-title{
            padding: 20px 0 0;
        }
    }
}
